$color-pink: #e13675;
$color-grey: rgb(133, 133, 133);
$fontRegular: "MyriadPro-Regular";
$fontItalic: "MyriadPro-It";
$fontBold: "MyriadHebrew-Bold";
$fontBoldItalic: "MyriadHebrew-BoldIt";
$fontSemiBold: "MyriadPro-Semibold";

@font-face {
  font-family: "MyriadPro-Regular";
  src: url(../../fonts/MyriadPro-Regular.otf);
}

@font-face {
  font-family: "MyriadPro-Semibold";
  src: url(../../fonts/MyriadPro-Semibold.otf);
}

@font-face {
  font-family: "MyriadPro-It";
  src: url(../../fonts/MyriadPro-It.otf);
}

@font-face {
  font-family: "MyriadHebrew-Bold";
  src: url(../../fonts/MyriadHebrew-Bold.otf);
}

@font-face {
  font-family: "MyriadHebrew-BoldIt";
  src: url(../../fonts/MyriadPro-BoldIt.otf);
}

.body {
  padding-left: 5vw;
  padding-right: 5vw;
}

.nav {
  display: flex;
  width: 100%;
  height: 10vh;
  font-size: 1.2vw;
  position: fixed;
  background-color: white;
  z-index: 4;
  top: 0;
  padding: 2vw 0vw 1vw 0vw;

  .logo {
    padding-right: 5vw;
    margin-left: 2vw;
  }

  .navRigth {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 50%;
    padding-bottom: 1vw;
    border-bottom: solid $color-pink 0.15vw;
    padding-right: 3vw;

    .navLinks {
      display: flex;
      padding-right: 2vw;
      width: 40%;
      justify-content: space-evenly;
      font-family: $fontRegular;

      .link {
        text-decoration: none;
        color: $color-grey;
        cursor: pointer;
      }

      .linkUp {
        position: fixed;
        top: 47vw;
        right: 1vw;
        cursor: pointer;
      }

      img {
        width: 3vw;
      }
    }

    .eng {
      display: flex;
      height: 3vw;
      width: 3vw;
      border-radius: 100%;
      background-color: red;
      justify-content: center;
      align-items: center;
      font-size: 1vw;
      font-family: $fontBold;

      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}

.banner {
  display: flex;
  width: 100%;
  height: 40vw;
  border-radius: 2vw;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8vw;
  width: 100%;

  .titleLine {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    hr {
      width: 25vw;
    }
  }
  .blockBottomH{
    .more {
      .cardImg {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 20vw;
        .card {
          width: 50vw;
        }
        .img1 {
          width: 20vw;
        }
      }

      .moreInfo{
        display: flex;
        align-items: center;
        position: relative;
        z-index: 3;
        left: 63.3vw;
        bottom: 3.5vw;
        background-color: #642e8d;
        border: none;
        border-radius: 0.4vw;
        width: 8vw;
        font-size: 1.3vw;
        height: 3vw;

        .aMore{
          display: flex;
          width: 100%;
          height: 100%;
          justify-content: center;
          align-items: center;
          color: white;
          font-family: $fontSemiBold;
          text-decoration: none;
        }
      }
    }
  }



  .titles {
    font-family: $fontBold;
    color: $color-grey;
    font-size: 2.5vw;
  }
  .pinkBoldItalic {
    font-family: $fontBoldItalic;
    color: $color-pink;
  }

  .bannerSum {
    display: flex;
    width: 90%;
    height: 35vw;
    border-radius: 2vw;
    opacity: 0.3;
    position: relative;
    z-index: 1;
    top: 3vw;
  }
}

.summary {
  display: flex;
  position:absolute;
  z-index: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $color-grey;
  font-size: 1vw;
  width: 80%;
  text-align: center;
  font-family: $fontSemiBold;
  top: 17vw;
  overflow: hidden;

  @keyframes slide-right {
      0%{
        margin-left: -200%;
      }
      20%{
        margin-left: 0%;
      }
      40%{
        margin-left: 200%
        }
      100%{
        margin-left: 200%
      }

 }

 @keyframes slide-left {
  0%{
    margin-left: -200%;
  }
  30%{
    margin-left: -200%;
  }
  50%{
    margin-left:0%;
    }
  70%{
    margin-left: 200%;
  }
  100%{
  margin-left: 200%;
  }
}

@keyframes slide-left2 {
  0%{
    margin-left: -200%;
  }
  60%{
    margin-left: -200%;
  }
  80%{
    margin-left: 0%;
  }
  100%{
  margin-left: 200%;
  }
}

 .fadeinSum {
    width: 80%;
   animation: slide-right 30s infinite normal;
 }

  .fadeinSum2 {
    width: 80%;
    animation: slide-left 30s infinite normal;
  }

  .fadeinSum3 {
    width: 80%;
    animation: slide-left2 30s infinite normal;
  }

  span {
    color: $color-pink;
  }
}

.text {
  font-size: 2vw;
  color: $color-grey;
  font-family: $fontRegular;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  a {
    text-decoration: none;
    color: $color-grey;
  }
  img {
    width: 15vw;
  }
  .span {
    display: flex;
    flex-direction: column;
    text-align: right;
  }
}

.form {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  font-family: $fontRegular;

  .inputContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  input {
    width: 30vw;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    font-size: 1.5vw;
  }
  label {
    color: $color-grey;
    font-size: 1.5vw;
    margin: 1.5vw;
    width: 5vw;
  }
  button {
    background-color: $color-pink;
    border: none;
    border-radius: 0.4vw;
    width: 5vw;
    font-size: 1vw;
    height: 2vw;
    color: white;
    margin-left: 2vw;
    margin-top: 1.5vw;
  }

  textarea {
    outline: none;
    width: 30vw;
    height: 4vw;
    resize: none;
    font-size: 1vw;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 30vw;
  background-color: $color-pink;
  border-radius: 2vw;
  margin-top: 5vw;
  padding-top: 5vw;
  padding-bottom: 5vw;
  font-family: $fontRegular;

  .column {
    display: flex;
    flex-direction: column;
    margin-right: 10vw;
    width: 100%;
    color: white;
    justify-content: space-between;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .textBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .column4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 15vw;
  }

  a {
    padding: 0.3vw;
    text-decoration: none;
    color: white;
  }

  img {
    width: 105vw;
    margin-right: 5vw;
  }

  .link {
    width: 1vw;
    cursor: pointer;
  }
}
.noShow{
  display: none;
}

@media only screen and (max-width: 1366px) and (min-width: 375px){

  .block{
    .blockBottomH{
      .more {
        .cardImg {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          align-items: center;
          width: 100%;
          height: 20vw;
          .card {
            width: 50vw;
          }
          .img1 {
            width: 20vw;
          }
        }
  
        .moreInfo{
          display: flex;
          align-items: center;
          position: relative;
          z-index: 3;
          left: 63.3vw;
          bottom: 3.5vw;
          background-color: #642e8d;
          border: none;
          border-radius: 0.4vw;
          width: 8vw;
          font-size: 1.3vw;
          height: 3vw;
  
          .aMore{
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            color: white;
            font-family: $fontSemiBold;
            text-decoration: none;
          }
        }
      }
  }
}
  .nav{
    .navRigth{

      .navLinks{
        .linkUp{
          top: 45vw;
          right: 1vw;
        }
      }
    }
  }
  .footer {
 
    .textBottom {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 1vw;

      div{
        width: 50%;
      }
    }
  
    img {
      width: 40vw;
      margin-right: 5vw;
    }
  }

}

@media only screen and (max-width: 500px) and (min-width: 200px){
  .nav {
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: center;

    .logo{
      width: 50%;
    }
    .navRigth {
      display: none;
    }
  }

  .block{
    position: relative;
    padding: 0;

    .bannerSum{
      display:none
    }
    .summary{
      display: flex;
      width: 100%;
      position: relative;
      flex-direction: column;
      text-align: center;
      padding: 2vw;
      font-family: $fontSemiBold;
      font-size: 2vw;
      top: 2vh;
      border-radius: 2vw;
      background-color: white;
      box-shadow: 0vw 2vw 5vw rgb(185, 185, 185);

      .fadeinSum {
       animation: none;
      }
    
      .fadeinSum2 {
        animation: none;
      }
    
      .fadeinSum3 {
        animation: none;
      }
    }

    .blockBottomH{
      .more{
        .cardImg{
          padding-top: 10vw;
          width: 100%;
          .card{
            width: 100%;
          }
        }
        .moreInfo{
          display: flex;
          align-items: center;
          position: relative;
          z-index: 3;
          left: 55vw;
          top: 1.5vw;
          background-color: #642e8d;
          border: none;
          border-radius: 0.4vw;
          width: 8vw;
          font-size: 1.3vw;
          height: 3vw;
          .aMore{
            width: 100%;
            padding: 0
          }
        }
      }
    }
  }

  .titleLine{
    padding-top: 15vw;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    hr{
      display: none;
    }
    .titles{
      font-size: 5vw;
    }
  }
  .text{
    font-size: 5vw;
    text-align: center;
    font-family: $fontSemiBold;
    margin: 0;
  }

  .container{
    display: none;
  }

  .noShow{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 5vw;

    a{
      text-decoration: none;
      font-size: 3vw;
      color: $color-grey;
      font-family: $fontSemiBold;
    }

    img{
      width:40vw;
      padding-top: 5vw;
    }
  }

  .img1{
    display:none;
  }

  .form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    
    .inputCont{
      display: flex;
      flex-direction: column;
      width: 100%;
    .inputContainer{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;


        input{
          width: 100%;
          height: 2vh;
          border: solid 0.5vw;
        }
        label{
          width: 100%;
          font-size: 5vw;
        }
  
        textarea{
          width: 100%;
          font-size: 5vw;
          resize: none;
        }
      }
      button{
        background-color: $color-pink;
        border: none;
        border-radius: 1.5vw;
        width: 60%;
        font-size: 5vw;
        height: 10vw;
        color: white;
        margin-top: 5vw;
        margin-left: 16vw;
      }
    }
  }

  .footer{
    width: 100%;
    height: 60vw;
    
    img{
      display:none
    }

    .column{
      display: flex;
      justify-content: space-between;
      margin: 0;
      padding: 2vw 5vw 0vw 5vw;
      
      h3{
        font-size: 3vw;
      }
  
      a{
        font-size: 2vw;
      }
    }

    .row{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }

    .textBottom {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 2.5vw;
      div{
        width: 40%;
      }
    }
  }


}
