$color-pink: #E13675;
$color-grey: rgb(133, 133, 133);
$fontRegular: "MyriadPro-Regular";
$fontItalic: "MyriadPro-It";
$fontBold: "MyriadHebrew-Bold";
$fontBoldItalic: "MyriadHebrew-BoldIt";
$fontSemiBold: "MyriadPro-Semibold";

@font-face {
  font-family: "MyriadPro-Regular";
  src: url(../src/fonts/MyriadPro-Regular.otf);
}

@font-face {
  font-family: "MyriadPro-Semibold";
  src: url(../src/fonts/MyriadPro-Semibold.otf);
}

@font-face {
  font-family: "MyriadPro-It";
  src: url(../src/fonts/MyriadPro-It.otf);
}

@font-face {
  font-family: "MyriadHebrew-Bold";
  src: url(../src/fonts/MyriadHebrew-Bold.otf);
}

@font-face {
  font-family: "MyriadHebrew-BoldIt";
  src: url(../src/fonts/MyriadHebrew-BoldIt.otf);
}

.body {
  padding: 4vw;
}

.nav {
  display: flex;
  width: 100%;
  height: 15vh;
  font-size: 1.2vw;

  .logo{
    padding-right: 5vw;
  }

  .navRigth {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 50%;
    padding-bottom: 1vw;
    border-bottom: solid $color-pink 0.15vw;

    .navLinks {
      display: flex;
      padding-right: 2vw;
      width: 40%;
      justify-content: space-evenly;
      font-family: $fontRegular;

      .link {
        text-decoration: none;
        color: $color-grey;
        cursor: pointer
      }

      .linkUp{
        position: fixed;
        top: 47vw;
        right: 1vw;
        cursor: pointer
      }

      img{
        width: 3vw;
      }
    }

    .eng {
      display: flex;
      height: 5.5vh;
      width: 3vw;
      border-radius: 100%;
      background-color: red;
      justify-content: center;
      align-items: center;
      font-size: 2vh;
      font-family: $fontBold;

      a{
        text-decoration: none;
        color: white;
      }
    }
  }
}

.banner {
  display: flex;
  width: 100%;
  height: 40vw;
  border-radius: 2vw;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5vw;
  width: 100%;

  .titleLine{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    hr{
      width: 25vw;
    }
  }

  .more{
    font-family: $fontRegular;
    color: $color-grey
  }
  .titles{
    font-family: $fontBold;
    color: $color-grey;
    font-size: 2.5vw;
  }
  .pinkBoldItalic{
    font-family: $fontBoldItalic;
    color: $color-pink
  }
}

.summary {
  display: flex;
  flex-direction: column;
  color: $color-grey;
  font-size: 1vw;
  width: 60vw;
  text-align: center;
  padding-top: 2vw;
  padding-bottom: 2vw;
  font-family: $fontSemiBold;

  span{
    color: $color-pink;
  }
}

.text {
  font-size: 2vw;
  color: $color-grey;
  font-family: $fontRegular;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  a {
    text-decoration: none;
    color: $color-grey;
  }
  img {
    width: 15vw;
  }
  .span {
    display: flex;
    flex-direction: column;
    text-align: right;
  }
}
.more {
  text-align: right;
  .cardImg {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 20vw;
    .card {
      width: 50vw;
    }
    .img1 {
      width: 20vw;
    }
  }
  a {
    text-decoration: none;
    color: $color-grey;
  }
}

.form {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  font-family: $fontRegular;

  .inputContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  input {
    width: 30vw;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    font-size: 1.5vw;
  }
  label {
    color: $color-grey;
    font-size: 1.5vw;
    margin: 1.5vw;
    width: 5vw;
  }
  button {
    background-color: $color-pink;
    border: none;
    border-radius: 0.4vw;
    width: 5vw;
    font-size: 1vw;
    height: 2vw;
    color: white;
    margin-left: 2vw;
    margin-top: 1.5vw;
  }

  textarea{
    outline: none;
    width: 30vw;
    height: 4vw;
    resize: none;
    font-size: 1vw;
  }

}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 30vw;
  background-color: $color-pink;
  border-radius: 2vw;
  margin-top: 5vw;
  padding-top: 5vw;
  padding-bottom: 5vw;
  font-family: $fontRegular;

  .column {
    display: flex;
    flex-direction: column;
    margin-right: 10vw;
    width: 100%;
    color: white;
    justify-content: space-between;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .textBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .column4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 15vw;
  }

  a {
    padding: 0.3vw;
    text-decoration: none;
    color: white;
  }

  img {
    width: 105vw;
    margin-right: 5vw;
  }

  .link {
    width: 1vw;
    cursor: pointer;
  }  
}
